@import '../common/colors';

$app-navbar-height: 40px;

#app-navbar {
    height: $app-navbar-height;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #FFF;
    color: #000;
    z-index: 4;
    .app-navbar-right {
        float: right;
    }
    > ul {
        display: block;
        float: left;
        > li {
            position: relative;
            display: block;
            float: left;
            font-size: 12px;
            height: $app-navbar-height;
            padding: 0px 10px;
            &:hover {
                cursor: pointer;
            }
            a {
                font-size: 13.5px;
                text-decoration: underline;
                color: darken($blue, 10);
                display: block;
                padding: 13.25px 0px;
                transition: 100ms all ease-in-out;
                &:hover {
                    color: darken($blue, 15);
                }
            }
            > h1 {
                font-weight: normal;
                font-size: 17px;
                line-height: $app-navbar-height;
            }

            > ul {
                position: absolute;
                top: $app-navbar-height;
                left: 0;
                background: #FFF;
                > li {
                    a {
                        padding: 10px;
                        &:hover {
                            background: #FAFAFA;
                            color: darken($blue, 20);
                        }    
                    }
                }
            }
        }
    }
}