#app-navbar-menu {
    position: fixed;
    top: 45px;
    right: 15px;
    width: 180px;
    background: #FFF;
    border-radius: 4px;
    box-shadow: 0px 6px 12px rgba(0,0,0,0.2);
    z-index: 4;
}
.app-navbar-menu-item {
    cursor: pointer;
    font-size: 12px;
    padding: 10px 10px;
    text-align: right;
    border-bottom: 1px solid #EEE;
    color: #7b7a86;
    &:hover {
        color: darken(#7b7a86, 5);
    }
}