<div id='task-detail-secondary'>
  <div class='task-detail-secondary-item'>
    <label>Status</label>
    Incomplete 
  </div>

  <div class='task-detail-secondary-item'>
    <label>Assigned to</label> 
    <div class='user-card'>
      <img class='user-avatar sm'> <span class='user-name'>Andrew Sinner</span>
    </div>
  </div>

  <div class='task-detail-secondary-item'>
    <label>Created by</label> 
    <div class='user-card'>
      <img class='user-avatar sm'> <span class='user-name'>Brooke Sinner</span> 
    </div>
  </div>
</div>